/**
 * Style of TinyMCE body
 */

body#tinymce.wp-editor { 
    font-family: 'Raleway', sans-serif; 
    margin: 10px; 
}

/* EXHIBITIONS PART */
body#tinymce.wp-editor.yc_exhibitions_list {
    column-count: 3;
}
body#tinymce.wp-editor.yc_exhibitions_list div {
    padding: .5rem;
    /* break-inside: avoid; */
}
body#tinymce.wp-editor.yc_exhibitions_list div p:first-child {
    color: #8B0000;
}
body#tinymce.wp-editor.yc_exhibitions_list p {
    text-align: center;
    font-size: 1rem;
    overflow-wrap: break-word;
    margin-block-start: 0;
    margin-block-end: 0;
}
@media screen and (max-width: 650px) {
    body#tinymce.wp-editor.yc_exhibitions_list {
        column-count: 2;
    }
}
@media screen and (max-width: 480px) {
    body#tinymce.wp-editor.yc_exhibitions_list {
        column-count: 1;
    }
}