/**
 * Style of navigation menu displayed on header
 */

 .site_nav {
    width: fit-content;
}
.site_nav_ul {
    box-shadow: -1px 2px 3px rgba(0, 0, 0, .3), 1px 0px 4px rgba(0, 0, 0, .3), rgba(0, 0, 0, 0.25) 0px -50px 30px -34px inset;
    border-radius: 10px;
    display: flex;
}
.site_nav_li:first-child a {
    border-radius: 10px 0 0 10px;
}
.site_nav_li:last-child a {
    border-radius: 0 10px 10px 0;
}
.site_nav_li {
    border-right: 1px solid #bababa;
}
.site_nav_li:last-child {
    border-right: none;
}
.a_nav:not(.second_level) {
    padding: .6rem 2.5rem;
}
.a_nav.second_level {
    padding: .3rem .6rem;
}
.a_nav {
    background-color: lightgray;
    font: var(--body-font);
    font-size: .8rem;
    background: transparent;
    display: block;
    color: #6e6b6b;
    font-weight: 300;
    transition: .2s;
}
.a_nav:hover {
    color: lightgray;
    box-shadow: rgba(0, 0, 0, 0.25) 0px -50px 30px -34px inset;
    box-shadow: rgba(94, 94, 94, 0.9) 0px -58px 26px -26px inset;
    box-shadow: rgba(94, 94, 94, 0.9) 0px -58px 12px -22px inset;
}
.a_nav.is-current {
    color: white;
    box-shadow: rgba(0, 0, 0, .9) 0px -58px 12px -22px inset;
}
/* DROPDOWN */
/* border-radius already assigned to ul tag but on li tag for hovering */
.dropdown-content li:first-child,
.dropdown-content li:first-child a {
    border-radius: 10px 10px 0 0;
}
.dropdown-content li:last-child,
.dropdown-content li:last-child a {
    border-radius: 0 0 10px 10px;
}
/* DROPDOWN */
.dropdown {
    position: relative;
}
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    border-top: 6px solid transparent;
    width: max-content;
    border-radius: 10px;
    min-width: 120px;
}
.dropdown-content li {
    background-color: var(--main-grey);
}
/* MENU BURGER */
.div_link_burger {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center; 
    backdrop-filter: blur(2px); 
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 999999;
    backdrop-filter: blur(3px);
    background-color: rgb(165 162 162 / 35%);
    z-index: 999999;
    display: none;
}
#link_burger {
    display: none;
}
.dropdown_separator {
    background-color: rgb(190, 190, 190);
    width: 30%;
    display: none;
    margin: 0 auto;
    height: 1px;
}
#burger {
    width: 25px;
    height: 2px;
    background: rgb(255 255 255 / 50%);
    display: inline-block;
    position: relative;
}
#burger::before,
#burger::after {
    z-index: 999999;
    content: '';
    width: 25px;
    height: 2px;
    background: rgb(255 255 255 / 50%);
    display: inline-block;
    position: absolute;
    left: 0;
    transform-origin: center;
    transition: all 0.3s ease;
}
#burger::before {
    top:-7px;
}
#burger::after {
    top:7px;
}
#burger.open {
    background: transparent;
}
#burger.open::before {
    transform: rotate(45deg);
    top: 0;
    background-color: rgb(176, 174, 174);
}
#burger.open::after {
    transform: rotate(-45deg);
    top: 0;
    background-color: rgb(176, 174, 174);
}
/* RESPONSIVE */
@media (max-width: 900px) {
    #ul_burger .a_nav:hover {
        box-shadow: none;
    }
    #ul_burger .a_nav.is-current {
        box-shadow: none;
    }
    .a_nav:not(.second_level) {
        padding: 1.5rem;
    }
    .a_nav {
        font-size: 1.2rem;
        color: rgb(176, 174, 174);
    }
    .site_nav_li {
        border-bottom: 1px solid rgb(176, 174, 174);
    }
    #site_header {
        background-color: transparent;
        height: 40px;
    }
    .dropdown-content {
        display: none;
    }
    /* BURGER */
    .div_link_burger {
        display: flex;
    }
    .div_link_burger.open {
        background-color: transparent;
    }
    #link_burger {
        display: inline-block;
    }
    .ul_burger {
        background-color: black;
        flex-flow: column nowrap;
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        /* padding-top: 10px; */
        transform: scaleY(0);
        transform-origin: center top;
        transition:all 0.3s ease;
        z-index: 9999;
    }
    .ul_burger.open {
        transform: scaleY(1);
        overflow-y: auto;
    }
    .portfolio_nav {
        width: 100%;
    }
    #link_burger {
        font-size: .5rem;
        line-height: .5;
    }
}
@media (max-width: 480px) {
    .div_link_burger {
        height: 35px;
        width: 35px;
    }
    .a_nav {
        font-size: 1.1rem;
    }
    #link_burger {
        padding: 0.1rem 0;
        font-size: .5rem;
        line-height: .5;
    }
    #burger,
    #burger:before,
    #burger:after {
        width: 20px;
    }
}
@media (max-width: 480px) {
    #burger {
        height: 1.5px;
    }
    #burger:before,
    #burger:after {
        height: 1.5px;
    }
}