/**
 * Style of likes and share buttons
 */

 .heart_share_container {
    position: absolute;
    top: 0;
    top: 0vh;
    left: 4vw;
    z-index: 999;
    display: flex;
}
/* FULL SCREEN */
.fullscreen_div_img .heart_share_container {
    top: 2vh;
    left: 10vw;
}
.heart_btn_counter {
    position: relative;
}
.share,
.heart,
.heart_counter {
    cursor: pointer;
    background-color: white;
    opacity: .9;
    padding: 10px;
    display: flex;
    border-radius: 50%;
    z-index: 999999;
    align-items: center;
    justify-content: center;
}
.heart_counter {
    position: absolute;
    padding: 9px;
}
.share {
    left: 10px;
}
.heart {
    left: 50px;
}
.heart_counter {
    bottom: 8px;
    right: -10px;
    height: 18px;
    width: 18px;
    font-size: 1.2rem;
    display: none;
    color: black;
}
/* RESPONSIVE */
@media screen and (max-width: 900px) {
    .share svg,
    .heart svg {
        width: 15px;
        height: 15px;
    }
    .heart_counter {
        font-size: 1rem;
    }
}
@media screen and (max-width: 750px) {
    .share svg,
    .heart svg {
        width: 12px;
        height: 12px;
    }
    .heart_share_container {
        top: 1vh;
    }
    .share,
    .heart {
        padding: 7px;
    }
    .heart_counter {
        right: -12px;
        bottom: 2px;
        font-size: .9rem;
    }
}
@media screen and (max-width: 480px) {
    .heart_share_container {
        left: 6vw;
    }
    .fullscreen_div_img .heart_share_container {
        top: 2.5vh;
        left: 14vw;
    }
}
@media screen and (max-width: 380px) {
    .share svg,
    .heart svg {
        width: 10px;
        height: 10px;
    }
    .heart_share_container {
        left: 8vw;
    }
    .fullscreen_div_img .heart_share_container {
        left: 18vw;
    }
    .heart_counter {
        font-size: .8rem;
        right: -14px;
    }
}
@media screen and (max-width: 300px) {
    .heart_share_container {
        left: 9vw;
    }
    .share,
    .heart {
        padding: 6px;
    }
    .heart_counter {
        font-size: .8rem;
        right: -14px;
    }
    .share {
        left: 12px;
    }
}
@media screen and (max-width: 280px) {
    .heart_share_container {
        left: 12vw;
    }
}