.share,
.heart,
.heart_counter {
    position: absolute;
    top: 35px;
    cursor: pointer;

    background-color: white;
    opacity: .9;
    padding: 10px;
    display: flex;
    border-radius: 50%;
    z-index: 999999;
    align-items: center;
    justify-content: center;
}
.share {
    left: 100px;
}
.heart {
    left: 140px;
}
.heart_counter {
    top: 43px;
    left: 170px;
    height: 18px;
    width: 18px;
    font-size: 1.2rem;
    display: none;
    color: black;
}
/* @media screen and (max-width: 600px) {
    .share {
        top: 80px;
        left: 30px;
    }
    .heart {
        top: 110px;
        left: 30px;
    }
} */
/* RESPONSIVE */
@media screen and (max-width: 900px) {
    .share svg,
    .heart svg {
        width: 15px;
        height: 15px;
    }
}
@media screen and (max-width: 750px) {
    /* .share svg,
    .heart svg {
        width: 10px;
        height: 10px;
    } */
    .share {
        left: 90px;
    }
    .heart {
        left: 125px;
    }
    .heart_counter {
        left: 155px;
    }
}
@media screen and (max-width: 480px) {
    #share,
    #heart {
        padding: 8px;
    }
    #share {
        left: 80px;
    }
    #heart {
        left: 110px;
    }
    .heart_counter {
        top: 41px;
        left: 135px;
    }
}
@media screen and (max-width: 380px) {
    #share,
    #heart {
        padding: 6px;
    }
    #share {
        left: 60px;
    }
    #heart {
        left: 90px;
    }
    .heart_counter {
        top: 39px;
        left: 115px;
    }
}