/**
 * Style of minimize and maximize buttons
 */

/* ICONS */
.maximize_icon,
.minimize_icon {
    position: absolute;
    left: 1.5vw;
    top: 1.5vh;
    cursor: pointer;
    background-color: white;
    opacity: .9;
    padding: 10px;
    display: flex;
    border-radius: 50%;
    z-index: 999999;
    align-items: center;
    justify-content: center;
}
.minimize_icon {
    display: none;
}
/* RESPONSIVE */
@media screen and (max-width: 900px) {
    .maximize_icon svg,
    .minimize_icon svg {
        width: 20px;
        height: 20px;
    }
}
@media screen and (max-width: 480px) {
    .maximize_icon,
    .minimize_icon {
        left: 10px;
        padding: 10px;
    }
    .maximize_icon svg,
    .minimize_icon svg {
        width: 17px;
        height: 17px;
    }
}
@media screen and (max-width: 380px) {
    .img-close-button svg {
        width: 12px;
        height: 12px;
    }
}