/**
 * Style of minimize and maximize buttons
 */

.div_gallery {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 5px;
    padding: 5px;

    width: 100%;
}
.img-container img {
    vertical-align: middle;
    height: 600px;
    object-fit: cover;
    cursor: pointer;
}
.img-hover-opacity:hover {
    filter: brightness(.5);
}
.mySlides.fullpage_img {
    width: 100% !important;
    height: 100% !important;
    object-fit: contain;
}
/* RESPONSIVE */
@media screen and (max-width: 1100px) {
    .img-container img {
        height: 500px;
    }
}
@media screen and (max-width: 1000px) {
    .img-container img {
        height: 450px;
    }
}
@media screen and (max-width: 900px) {
    .div_gallery {
        grid-template-columns: 50% 50%;
    }
}
@media screen and (max-width: 680px) {
    .img-container img {
        height: 400px;
    }
}
@media screen and (max-width: 580px) {
    .div_gallery {
        grid-template-columns: 100%;
    }
    .img-container img {
        height: 650px;
    }
}
@media screen and (max-width: 450px) {
    .img-container img {
        height: 600px;
    }
}
@media screen and (max-width: 400px) {
    .img-container img {
        height: 550px;
    }
}
@media screen and (max-width: 320px) {
    .img-container img {
        height: 500px;
    }
}