/**
 * Style of presentation template part displayed on front-page
 */

.div_presentation {
    padding: 1rem 0;
    max-width: 845px;
}
.p_presentation {
    text-align: justify;
    hyphens: auto;
    font: var(--body-font);
}
@media screen and (max-width: 900px) {
    .div_presentation {
        padding: .5rem;
    }
}
@media screen and (max-width: 480px) {
    .p_presentation {
        font-size: 1rem;
    }
}