/**
 * Style of presentation template part displayed on front-page
 */

.div_presentation {
    padding: 2rem 2.5rem;
}
.div_presentation,
.div_presentation p {
    text-align: justify;
    hyphens: auto;
    font: var(--body-font);
}
@media screen and (max-width: 950px) {
    .div_presentation {
        padding: 1rem 1.5rem;
    }
}
@media screen and (max-width: 900px) {
    .div_presentation {
        padding: 1rem 1.2rem;
    }
}
@media screen and (max-width: 680px) {
    .div_presentation {
        padding: .5rem;
    }
    .div_presentation p {
        font-size: 1rem;
    }
}