/**
 * Style of Uploader metabox
 */

.thickbox-loading {
    max-height: 80%;
    height: fit-content !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
#TB_window img#TB_Image {
    max-width: -webkit-fill-available;
    max-width: -moz-available;
    max-width: 100%;
    height: auto;
}
#TB_closeWindowButton {
    top: 0;
}
a.thickbox {
    margin-bottom: 1rem;
}
a.thickbox,
a.thickbox img {
    width: -webkit-fill-available;
}