/**
 * Style of portfolio template part displayed on front-page
 */

.ul_portfolio_nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}
.li_portfolio_nav {
    height: 485px;
    width: 48%;
    position: relative;
    z-index: 0;
}
.li_portfolio_nav .span_portfolio {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 5.8rem;
    font-weight: 200;
    line-height: .8;
    color: white;
    padding: 1rem;
    text-shadow: -6.5px 3px 3px #000000cf;
    text-align: left;
    letter-spacing: -.2rem;
}
.li_portfolio_nav .a_portfolio {
    height: 485px;
}
.li_portfolio_nav .img_portfolio {
    height: 100%;
    object-fit: cover;
}
.li_portfolio_nav .a_portfolio:hover .img_portfolio,
.li_portfolio_nav .a_portfolio:hover .span_portfolio {
    display: none;
}
.li_portfolio_nav .p_portfolio_hover {
    display: none;
}
.li_portfolio_nav .a_portfolio:hover .p_portfolio_hover {
    display: block;
    font-size: 1.5rem;
}
.li_portfolio_nav .a_portfolio:hover {
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 1050px) {
    .li_portfolio_nav .span_portfolio {
        font-size: 4.8rem;
    }
}
@media screen and (max-width: 900px) {
    .li_portfolio_nav {
        padding: 1rem 0;
    }
}
@media screen and (max-width: 480px) {
    .li_portfolio_nav .span_portfolio {
        font-size: 4.2rem;
    }
}
@media screen and (max-width: 350px) {
    .li_portfolio_nav .span_portfolio {
        font-size: 3.2rem;
    }
}