/**
 * Style of portfolio template part displayed on front-page
 */

 .nav_portfolio {
    width: 100%;
    padding: 2rem 0;
}
.ul_portfolio_nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}
.li_portfolio_nav {
    height: 485px;
    width: 45%;
    position: relative;
    z-index: 0;
}
.li_portfolio_nav .span_portfolio {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 5.8rem;
    font-weight: 200;
    line-height: .8;
    color: white;
    padding: 1rem;
    text-shadow: -6.5px 3px 3px #000000cf;
    text-align: left;
    letter-spacing: -.2rem;
}
.li_portfolio_nav .a_portfolio {
    height: 485px;
}
.li_portfolio_nav .img_portfolio {
    height: 100%;
    object-fit: cover;
}
.li_portfolio_nav .a_portfolio:hover .img_portfolio,
.li_portfolio_nav .a_portfolio:hover .span_portfolio {
    display: none;
}
.li_portfolio_nav .p_portfolio_hover {
    display: none;
}
.li_portfolio_nav .a_portfolio:hover .p_portfolio_hover {
    display: block;
    font-size: 1.5rem;
}
.li_portfolio_nav .a_portfolio:hover {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* RESPONSIVE */
@media screen and (max-width: 1050px) {
    .li_portfolio_nav .span_portfolio {
        font-size: 4.8rem;
    }
}
@media screen and (max-width: 950px) {
    .li_portfolio_nav {
        width: 47%;
    }
}
@media screen and (max-width: 900px) {
    .li_portfolio_nav {
        width: 47%;
    }
    .li_portfolio_nav .span_portfolio {
        font-size: 4.2rem;
        padding: .8rem;
    }
}
@media screen and (max-width: 750px) {
    .li_portfolio_nav,
    .li_portfolio_nav .a_portfolio {
        height: 425px;
    }   
}
@media screen and (max-width: 680px) {
    .li_portfolio_nav {
        width: 48%;
    }
    .li_portfolio_nav,
    .li_portfolio_nav .a_portfolio {
        height: 375px;
    }  
    .li_portfolio_nav .span_portfolio {
        font-size: 3.8rem;
        padding: .5rem;
    }
}
@media screen and (max-width: 620px) {
    .li_portfolio_nav,
    .li_portfolio_nav .a_portfolio {
        height: 350px;
    } 
}
@media screen and (max-width: 580px) {
    .li_portfolio_nav .span_portfolio {
        font-size: 3.2rem;
    }
}
@media screen and (max-width: 550px) {
    .li_portfolio_nav,
    .li_portfolio_nav .a_portfolio {
        height: 320px;
    } 
}
@media screen and (max-width: 480px) {
    .li_portfolio_nav {
        width: 95%;
    }
    .li_portfolio_nav,
    .li_portfolio_nav .a_portfolio {
        height: 420px;
    } 
    .nav_portfolio {
        padding: 0;
    }
}
@media screen and (max-width: 350px) {
    .li_portfolio_nav .span_portfolio {
        font-size: 3.2rem;
    }
}